.cart {
  padding: 1rem 3rem;
  height: auto;
  text-align: center;
}
.cart h1 {
  font-size: x-large;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.priceCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 8rem;
}
