.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  border: 0.3px solid pink;
}
.productCard img {
  width: 100%;
  height: 18rem;
}
.heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.3;
}
.heart:hover {
  opacity: 1;
}

.title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn button {
  width: 100%;
  cursor: pointer;
}
.btn button:hover {
  background-color: lightcoral;
}
